// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : rgba(0, 82, 135);
$secondary : rgba(245, 138, 51);
$accent    : #EBF0F2;

$dark      : #444444;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #999999;
$warning   : #F2C037;

@import '~quasar-variables-styl'
